<% title("How It Works Page") %>
<section class="container" role="region">
  <header>
    <h1 id="logo">Living Social</h1>
  </header>
  <ul class="nav nav-tabs" role="navigation">
    <li class="active">
      <a href="#" data-target="#tab1" data-toggle="tab">How It Works</a>
    </li>
  </ul>        
  <div class="tab-content">
    <div id="content">
      <h2>How It Works</h2>
      <p>Here's a <%= link_to "link to manage the deals", deals_path %> that have been saved.  
      </p>
      <p>Curabitur a lectus augue, eget pulvinar quam. Integer blandit blandit ipsum quis rhoncus. Sed dapibus eros consequat erat pharetra molestie. Aenean et nibh urna, non feugiat mauris. Quisque vel ante tortor. Nulla facilisi.</p>
      <p>Sed at purus vitae odio malesuada tristique. Maecenas sed orci ipsum, in condimentum tortor. Pellentesque vel euismod elit. Curabitur a lectus augue, eget pulvinar quam. Integer blandit blandit ipsum quis rhoncus. Sed dapibus eros consequat erat pharetra molestie. Aenean et nibh urna, non feugiat mauris. Quisque vel ante tortor. Nulla facilisi. 
      </p>
    </div>    
  </div>
</section>       
