<% title("About Page") 
   current_nav("about")
%>
      
  <div class="tab-content">
    <div id="content">
      <h2>About Us</h2>
      <p>Aenean et nibh urna, non feugiat mauris. Quisque vel ante tortor. Nulla facilisi. Sed at purus vitae odio malesuada tristique. Maecenas sed orci ipsum, in condimentum tortor. Pellentesque vel euismod elit. In egestas odio vel metus tincidunt a vestibulum urna tristique. Nulla vel lectus vel purus aliquam ornare. Curabitur a lectus augue, eget pulvinar quam. Integer blandit blandit ipsum quis rhoncus. Sed dapibus eros consequat.
      </p>
      <p>Sed at purus vitae odio malesuada tristique. Maecenas sed orci ipsum, in condimentum tortor. Pellentesque vel euismod elit. In egestas odio vel metus tincidunt a vestibulum urna tristique. Nulla vel lectus vel purus aliquam ornare. Curabitur a lectus augue, eget pulvinar quam. Integer blandit blandit ipsum quis rhoncus. Sed dapibus eros consequat erat pharetra molestie. 
      </p>  
    </div>    
  </div>
